[Desktop Entry]
Type=Application
Name=CopyQ
GenericName=Clipboard Manager
Comment=Store and search clipboard history
Exec=copyq
Icon=com.github.hluk.copyq
Terminal=false
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
